<div class="header-section" [ngClass]="(notPrinting)?'fixed-header': ''">
  <div class="flexbox align-center justify-space-between">
    <!--<img src="../../../assets/images/logo.png" alt="logo" class="img-responsive logo-img">-->
    <app-provider-image [profileId]="profileId" width="292" height="100"></app-provider-image>
    <div style="margin-right:100px">
      <p><strong>CCID #: </strong>{{Customer.ccId}}</p>
      <p><strong>Service Class: </strong>{{Customer.serviceClass}}</p>
      <p><strong>Diameter: </strong>{{Customer.diameter}}</p>
    </div>
  </div>
</div>
<div [ngClass]="(notPrinting)?'marginLogo': ''">
  <div class="banner" *ngIf="notPrinting">
    <img src="../../../assets/images/LogoRBG.png" alt="banner" class="img-responsive2" height="140" width="244">
  </div>
  <form [formGroup]="form22" class="survey-form" name="surveyForm2" id="surveyForm2" (ngSubmit)="surveyForm2.valid && hasConnectedPlants() && hasWaterReceivers() && onPreSubmit()" #surveyForm2="ngForm">
    <div class="container">
      <h1>WATER USAGE SURVEY FORM</h1>
      <p>Please complete one survey questionnaire for each water service line on your property. Customers with more than one water meter will need to  fill out more than one survey.</p>
    </div>
    <div class="section-btn wide">
      <div class="container">
        <span>Section 1</span>
        <span style="margin-left:100px;font-size:13px">Please verify the following information</span>
      </div>
    </div>
    <div class="container">
      <section class="section1">
        <div class="flexbox justify-space-between align-center address-section">
          <div>
            <p><strong>Service Address</strong></p>
            <p>{{Customer.serviceAddress}}</p>
            <p><strong>Billing Address</strong></p>
            <p>{{Customer.billingAddress}}</p>
            <br />
            <p><strong>Verify Address</strong></p>
            <div>
              <p>Are the addresses correct?</p>
              <div>
                <label>
                  <input type="checkbox" name="verifyServiceAddress" id="verifyServiceAddress" [checked]="verifyServiceAddress" (click)="updateVerifyAddress($event)">Yes
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label>
                  <input type="checkbox" name="verifyServiceAddressNo" id="verifyServiceAddressNo" [checked]="verifyServiceAddressNo" (click)="updateVerifyAddress($event, 'No')">No
                </label>
              </div>
              
              <div [hidden]="verifyServiceAddress">Contact <a href="mailto:survey@universalccc.com">Survey@universalccc.com</a> to update</div>
            </div>

          </div>
          <div class="property-type section11">
            <p><strong>Property Type</strong></p>
            <div class="flexbox">
              <div class="checkbox"><label><input [required]="!e.commercialPropType && !e.residentialPropType && !e.otherPropType" formControlName="residentialPropType" [(ngModel)]="e.residentialPropType" type="checkbox" name="residentialProperty" id="residentialProperty" [checked]="residentialPropType" (click)="updatePropertyType($event,'residential')"> Residential</label></div>
              <div class="checkbox"><label><input [required]="!e.commercialPropType && !e.residentialPropType && !e.otherPropType" formControlName="commercialPropType" [(ngModel)]="e.commercialPropType" type="checkbox" name="commercialProperty" id="commercialProperty" [checked]="commercialPropType" (click)="updatePropertyType($event,'commercial')"> Commercial</label></div>
            </div>
            <div class="flexbox">
              <div class="checkbox"><label><input [required]="!e.commercialPropType && !e.residentialPropType && !e.otherPropType" type="checkbox" name="otherPropertyType" id="otherPropertyType" [checked]="otherPropType" formControlName="otherPropType" [(ngModel)]="e.otherPropType" (click)="updatePropertyType($event,'other')"> Other (Specify)</label></div>
              <div class="form-group" [hidden]="!e.otherPropType">
                <input type="text" class="form-control" name="otherPropertyTypeValue" id="otherPropertyTypeValue" formControlName="otherPropertyTypeValue" [(ngModel)]="e.otherPropertyTypeValue" />
                <show-errors ctrl="otherPropertyTypeValue" [myForm]="surveyForm2"></show-errors>
              </div>
              <div class="form-group" [hidden]="e.otherPropType">
                <input type="text" class="form-control" name="otherPropertyTypeValueFake" id="otherPropertyTypeValueFake" disabled="disabled" />
              </div>
            </div>
            <div class="flexbox" style="margin-top:10px">
              <div class="alert-danger fontsmall text-right" *ngIf="surveyForm2.submitted && !e.commercialPropType && !e.residentialPropType && !e.otherPropType">Please select a property type</div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="section-btn wide">
      <div class="container">
        <span>Section 2</span>
        <span style="margin-left:100px;font-size:13px">Please answer the following questions</span>
      </div>
    </div>
    <br />
    <section class="section2">
      <div class="container">
        <p class="subtitle">(A) Is this service line connected to any of the following plants or facilities (Check all that apply)?</p>
        <div class="flexbox">
          <div class="flex-basis-50">
            <div class="checkbox"><label><input idx="1" type="checkbox" (change)="updateConnectedPlants($event)" value="Aircraft/Missile" name="connectedPlant1"> Aircraft/Missile</label></div>
            <div class="checkbox"><label><input idx="2" type="checkbox" (change)="updateConnectedPlants($event)" value="Automated Manufacturing" name="connectedPlant2"> Automated Manufacturing</label></div>
            <div class="checkbox"><label><input idx="3" type="checkbox" (change)="updateConnectedPlants($event)" value="Automatic Car Wash" name="connectedPlant3"> Automatic Car Wash</label></div>
            <div class="checkbox"><label><input idx="4" type="checkbox" (change)="updateConnectedPlants($event)" value="Auxiliary Water System" name="connectedPlant4"> Auxiliary Water System</label></div>
            <div class="checkbox"><label><input idx="5" type="checkbox" (change)="updateConnectedPlants($event)" value="Beauty Salon" name="connectedPlant5"> Beauty Salon</label></div>
            <div class="checkbox"><label><input idx="6" type="checkbox" (change)="updateConnectedPlants($event)" value="Brewery/Distillery" name="connectedPlant6"> Brewery/Distillery</label></div>
            <div class="checkbox"><label><input idx="7" type="checkbox" (change)="updateConnectedPlants($event)" value="Chemical Plant" name="connectedPlant7"> Chemical Plant</label></div>
            <div class="checkbox"><label><input idx="8" type="checkbox" (change)="updateConnectedPlants($event)" value="Commercial Laundries" name="connectedPlant8"> Commercial Laundries</label></div>
            <div class="checkbox"><label><input idx="9" type="checkbox" (change)="updateConnectedPlants($event)" value="Dairies/Cold Storage Plants" name="connectedPlant9"> Dairies/Cold Storage Plants</label></div>
            <div class="checkbox"><label><input idx="10" type="checkbox" (change)="updateConnectedPlants($event)" value="Dye Works" name="connectedPlant10"> Dye Works</label></div>
            <div class="checkbox"><label><input idx="11" type="checkbox" (change)="updateConnectedPlants($event)" value="Film Processing" name="connectedPlant11"> Film Processing</label></div>
            <div class="checkbox"><label><input idx="12" type="checkbox" (change)="updateConnectedPlants($event)" value="Labs" name="connectedPlant12"> Labs</label></div>
            <div class="checkbox"><label><input idx="13" type="checkbox" (change)="updateConnectedPlants($event)" value="Meat Processing" name="connectedPlant13"> Meat Processing</label></div>
            <div class="checkbox mb16"><label><input idx="14" type="checkbox" (change)="updateConnectedPlants($event)" value="Medical Facilities" name="connectedPlant14"> Medical Facilities</label></div>
          </div>
          <div>
            <div class="checkbox"><label><input idx="15" type="checkbox" (change)="updateConnectedPlants($event)" value="Metal Plating" name="connectedPlant15"> Metal Plating</label></div>
            <div class="checkbox"><label><input idx="16" type="checkbox" (change)="updateConnectedPlants($event)" value="Mortuary/Morgue" name="connectedPlant16"> Mortuary/Morgue</label></div>
            <div class="checkbox"><label><input idx="17" type="checkbox" (change)="updateConnectedPlants($event)" value="Paper Production" name="connectedPlant17"> Paper Production </label></div>
            <div class="checkbox"><label><input idx="18" type="checkbox" (change)="updateConnectedPlants($event)" value="Petroleum/Gas Processing or Storage" name="connectedPlant18"> Petroleum/Gas Processing or Storage</label></div>
            <div class="checkbox"><label><input idx="19" type="checkbox" (change)="updateConnectedPlants($event)" value="Power Plant" name="connectedPlant19"> Power Plant </label></div>
            <div class="checkbox"><label><input idx="20" type="checkbox" (change)="updateConnectedPlants($event)" value="Radioactive Materials" name="connectedPlant20"> Radioactive Materials</label></div>
            <div class="checkbox"><label><input idx="21" type="checkbox" (change)="updateConnectedPlants($event)" value="Recycled Water Systems" name="connectedPlant21"> Recycled Water Systems</label></div>
            <div class="checkbox"><label><input idx="22" type="checkbox" (change)="updateConnectedPlants($event)" value="Rubber Plant" name="connectedPlant22"> Rubber Plant</label></div>
            <div class="checkbox"><label><input idx="23" type="checkbox" (change)="updateConnectedPlants($event)" value="Sand/Gravel Plant" name="connectedPlant23"> Sand/Gravel Plant</label></div>
            <div class="checkbox"><label><input idx="24" type="checkbox" (change)="updateConnectedPlants($event)" value="Schools w/ Labs" name="connectedPlant24"> Schools w/ Labs</label></div>
            <div class="checkbox"><label><input idx="25" type="checkbox" (change)="updateConnectedPlants($event)" value="Sewer/Stormwater Treatment" name="connectedPlant25"> Sewer/Stormwater Treatment</label></div>
            <div class="checkbox"><label><input idx="26" type="checkbox" (change)="updateConnectedPlants($event)" value="Use of Toxic Metals" name="connectedPlant26"> Use of Toxic Metals</label></div>
            <div class="checkbox"><label><input idx="27" type="checkbox" (change)="updateConnectedPlants($event)" value="Waterfront Facilities" name="connectedPlant27"> Waterfront Facilities</label></div>
            <div class="checkbox"><label><input idx="28" type="checkbox" (change)="updateConnectedPlants($event)" value="None of the above" name="connectedPlant28"> None of the above</label></div>
          </div>
        </div>
        <div class="flexbox align-center">
          <div class="checkbox mb0 mt0 mr20"><label><input type="checkbox" name="chkOtherConnectedPlant" formControlName="otherConnectPlant" [(ngModel)]="e.otherConnectPlant" (click)="clickOtherConnectPlant($event)"> Where a known Cross-Connection is to be maintained (specify)</label></div>
          <div class="form-group mb0" *ngIf="e.otherConnectPlant">
            <input type="text" class="form-control sectionA-input" name="otherConnectedPlant" id="otherConnectedPlant" formControlName="otherConnectedPlant" [(ngModel)]="e.otherConnectedPlant" />
            <show-errors ctrl="otherConnectedPlant" [myForm]="surveyForm2"></show-errors>
          </div>
        </div>
        <div class="flexbox">
          <div class="flex-basis-50" style="margin-top:10px">
            <div class="alert-danger fontsmall" *ngIf="surveyForm2.submitted && !hasConnectedPlants()">Select "None of the above" if this service line is NOT connected to any of the following plants or facilities</div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <p class="subtitle">(B) Do any of the following items receive water from this service line (Check all that apply)?</p>
        <div class="flexbox">
          <div class="flex-basis-50">
            <div class="checkbox"><label><input idx="1" type="checkbox" (change)="updateWaterReceivers($event)" value="Antifreeze Flush Kits" name="waterReceiver1"> Antifreeze Flush Kits</label></div>
            <div class="checkbox"><label><input idx="2" type="checkbox" (change)="updateWaterReceivers($event)" value="Auxiliary Well" name="waterReceiver2"> Auxiliary Well</label></div>
            <div class="checkbox"><label><input idx="3" type="checkbox" (change)="updateWaterReceivers($event)" value="Booster Pump" name="waterReceiver3"> Booster Pump</label></div>
            <div class="checkbox"><label><input idx="4" type="checkbox" (change)="updateWaterReceivers($event)" value="Carbonated Beverage Dispenser" name="waterReceiver4"> Carbonated Beverage Dispenser</label></div>
            <div class="checkbox"><label><input idx="5" type="checkbox" (change)="updateWaterReceivers($event)" value="Chemical Mixer" name="waterReceiver5"> Chemical Mixer</label></div>
            <div class="checkbox"><label><input idx="6" type="checkbox" (change)="updateWaterReceivers($event)" value="Commercial Boiler" name="waterReceiver6"> Commercial Boiler</label></div>
            <div class="checkbox"><label><input idx="7" type="checkbox" (change)="updateWaterReceivers($event)" value="Commercial Ice Maker" name="waterReceiver7"> Commercial Ice Maker</label></div>
            <div class="checkbox"><label><input idx="8" type="checkbox" (change)="updateWaterReceivers($event)" value="Cooling Tower" name="waterReceiver8"> Cooling Tower</label></div>
            <div class="checkbox"><label><input idx="9" type="checkbox" (change)="updateWaterReceivers($event)" value="Farm Equipment" name="waterReceiver9"> Farm Equipment</label></div>
            <div class="checkbox"><label><input idx="10" type="checkbox" (change)="updateWaterReceivers($event)" value="Fire Sprinkler System" name="waterReceiver10"> Fire Sprinkler System</label></div>
            <div class="checkbox"><label><input idx="11" type="checkbox" (change)="updateWaterReceivers($event)" value="Greenhouse" name="waterReceiver11"> Greenhouse</label></div>
            <div class="checkbox"><label><input idx="12" type="checkbox" (change)="updateWaterReceivers($event)" value="Hose Aspirating Chemical Sprayer" name="waterReceiver12"> Hose Aspirating Chemical Sprayer</label></div>
            <div class="checkbox"><label><input idx="13" type="checkbox" (change)="updateWaterReceivers($event)" value="Hose Connected Insecticide Sprayer" name="waterReceiver13"> Hose Connected Insecticide Sprayer</label></div>
            <div class="checkbox mb16"><label><input idx="14" type="checkbox" (change)="updateWaterReceivers($event)" value="Hot-Tub Jacuzzi" name="waterReceiver14"> Hot-Tub Jacuzzi</label></div>
          </div>
          <div>
            <div class="checkbox"><label><input idx="15" type="checkbox" (change)="updateWaterReceivers($event)" value="Irrigation System" name="waterReceiver15"> Irrigation System</label></div>
            <div class="checkbox"><label><input idx="16" type="checkbox" (change)="updateWaterReceivers($event)" value="Lawn Irrigation System" name="waterReceiver16"> Lawn Irrigation System</label></div>
            <div class="checkbox"><label><input idx="17" type="checkbox" (change)="updateWaterReceivers($event)" value="Medical Equipment" name="waterReceiver17"> Medical Equipment</label></div>
            <div class="checkbox"><label><input idx="18" type="checkbox" (change)="updateWaterReceivers($event)" value="Pond" name="waterReceiver18"> Pond</label></div>
            <div class="checkbox"><label><input idx="19" type="checkbox" (change)="updateWaterReceivers($event)" value="Portable Dialysis Machine" name="waterReceiver19"> Portable Dialysis Machine</label></div>
            <div class="checkbox"><label><input idx="20" type="checkbox" (change)="updateWaterReceivers($event)" value="Sewage Ejector" name="waterReceiver20"> Sewage Ejector</label></div>
            <div class="checkbox"><label><input idx="21" type="checkbox" (change)="updateWaterReceivers($event)" value="Solar Water Heating System" name="waterReceiver21"> Solar Water Heating System</label></div>
            <div class="checkbox"><label><input idx="22" type="checkbox" (change)="updateWaterReceivers($event)" value="Swamp Cooler" name="waterReceiver22"> Swamp Cooler</label></div>
            <div class="checkbox"><label><input idx="23" type="checkbox" (change)="updateWaterReceivers($event)" value="Swimming Pools" name="waterReceiver23"> Swimming Pools</label></div>
            <div class="checkbox"><label><input idx="24" type="checkbox" (change)="updateWaterReceivers($event)" value="Unknown Pipes" name="waterReceiver24"> Unknown Pipes</label></div>
            <div class="checkbox"><label><input idx="25" type="checkbox" (change)="updateWaterReceivers($event)" value="Utility Sink w/ Threaded Faucet" name="waterReceiver25"> Utility Sink w/ Threaded Faucet</label></div>
            <div class="checkbox"><label><input idx="26" type="checkbox" (change)="updateWaterReceivers($event)" value="Water Tank Truck Filling Station" name="waterReceiver26"> Water Tank Truck Filling Station</label></div>
            <div class="checkbox"><label><input idx="27" type="checkbox" (change)="updateWaterReceivers($event)" value="X-Ray Machine" name="waterReceiver27"> X-Ray Machine</label></div>
            <div class="checkbox"><label><input idx="28" type="checkbox" (change)="updateWaterReceivers($event)" value="None of the above" name="waterReceiver28"> None of the above</label></div>
          </div>
          <div class="flex-basis-50" style="margin-top:10px">
            <div class="alert-danger fontsmall" *ngIf="surveyForm2.submitted && !hasWaterReceivers()">Select "None of the above" if none of the listed items receive water from this service line</div>
          </div>
        </div>
      </div>
    </section>
    <section class="sectionC">
      <div class="container">
        <p class="subtitle">(C) Do you have any water-using equipment connected to the service line not mentioned above?</p>
        <div class="flexbox">
          <div>
            <div class="checkbox">
              <label><input [required]="!e.otherEquipmentYes && !e.otherEquipmentNo && !e.otherEquipmentUnsure" formControlName="otherEquipmentYes" [(ngModel)]="e.otherEquipmentYes" type="checkbox" name="otherWaterUsingEquipment" [checked]="otherEquipmentYes" (click)="updateOtherEquipment($event,'yes')"> Yes</label>
            </div>
          </div>
          <div>
            <div class="checkbox">
              <label><input [required]="!e.otherEquipmentYes && !e.otherEquipmentNo && !e.otherEquipmentUnsure" formControlName="otherEquipmentNo" [(ngModel)]="e.otherEquipmentNo" type="checkbox" name="otherWaterUsingEquipment" [checked]="otherEquipmentNo" (click)="updateOtherEquipment($event,'no')"> No</label>
            </div>
          </div>
          <div>
            <div class="checkbox">
              <label><input [required]="!e.otherEquipmentYes && !e.otherEquipmentNo && !e.otherEquipmentUnsure" formControlName="otherEquipmentUnsure" [(ngModel)]="e.otherEquipmentUnsure" type="checkbox" name="otherWaterUsingEquipment" [checked]="otherEquipmentUnsure" (click)="updateOtherEquipment($event,'unsure')"> Unsure</label>
            </div>
          </div>
        </div>
        <div *ngIf="e.otherEquipmentYes">
          <p>(i)  If yes, please describe</p>
          <textarea class="form-control" rows="5" formControlName="otherWaterUsingEquipmentDesc" [(ngModel)]="e.otherWaterUsingEquipmentDesc" name="otherWaterUsingEquipmentDesc" id="otherWaterUsingEquipmentDesc"></textarea>
          <show-errors cssstyle="50%" errMessage="Please describe the water-using equipment" ctrl="otherWaterUsingEquipmentDesc" [myForm]="surveyForm2"></show-errors>
        </div>
        <div class="flexbox flex-basis-50" style="margin-top:10px">
          <div class="alert-danger fontsmall" *ngIf="surveyForm2.submitted && !e.otherEquipmentYes && !e.otherEquipmentNo && !e.otherEquipmentUnsure">Please select Yes, No, or Unsure</div>
        </div>
      </div>
    </section>
    <section class="sectionD">
      <div class="container">
        <p class="subtitle">(D) Do you have any backflow prevention devices on your property?</p>
        <div class="flexbox">
          <div>
            <div class="checkbox">
              <label><input [required]="!e.backflowPrevDeviceYes && !e.backflowPrevDeviceNo && !e.backflowPrevDeviceUnsure" formControlName="backflowPrevDeviceYes" [(ngModel)]="e.backflowPrevDeviceYes" type="checkbox" name="backflowPrevDeviceYes" [checked]="backflowPrevDeviceYes" (click)="updateBackflowDevice($event,'yes')"> Yes</label>
            </div>
          </div>
          <div>
            <div class="checkbox">
              <label><input [required]="!e.backflowPrevDeviceYes && !e.backflowPrevDeviceNo && !e.backflowPrevDeviceUnsure" formControlName="backflowPrevDeviceNo" [(ngModel)]="e.backflowPrevDeviceNo" type="checkbox" name="backflowPrevDeviceNo" [checked]="backflowPrevDeviceNo" (click)="updateBackflowDevice($event,'no')"> No</label>
            </div>
          </div>
          <div>
            <div class="checkbox">
              <label><input [required]="!e.backflowPrevDeviceYes && !e.backflowPrevDeviceNo && !e.backflowPrevDeviceUnsure" formControlName="backflowPrevDeviceUnsure" [(ngModel)]="e.backflowPrevDeviceUnsure" type="checkbox" name="backflowPrevDeviceUnsure" [checked]="backflowPrevDeviceUnsure" (click)="updateBackflowDevice($event, 'unsure')"> Unsure</label>
            </div>
          </div>
        </div>
        <p [ngClass]="(backflowPrevDeviceYes == true)?'alert-danger':''">(ii) If yes, please have a certified tester provide their most recent backflow prevention test report for each valve.</p>
      </div>
      <div class="container">
        <div class="flexbox flex-basis-50" style="margin-top:10px">
          <div class="alert-danger fontsmall" *ngIf="surveyForm2.submitted && !e.backflowPrevDeviceYes && !e.backflowPrevDeviceNo && !e.backflowPrevDeviceUnsure">Please provide a response on backflow prevention devices</div>
        </div>
      </div>
    </section>
    <section class="sectionC">
      <div class="container">
        <p class="subtitle">(E) Please indicate if we may contact you by email.</p>
        <div class="flexbox">
          <div>
            <div class="checkbox">
              <label><input formControlName="contactByEmailYes" [(ngModel)]="e.contactByEmailYes" [required]="!e.contactByEmailYes && !e.contactByEmailNo" type="checkbox" name="contactByEmailYes" [checked]="e.contactByEmailYes" (click)="updateContactByEmail($event,'yes')"> Yes</label>
            </div>
          </div>
          <div>
            <div class="checkbox">
              <label><input type="checkbox" formControlName="contactByEmailNo" [(ngModel)]="e.contactByEmailNo" [required]="!e.contactByEmailYes && !e.contactByEmailNo" name="contactByEmailNo" id="contactByEmailNo" [checked]="e.contactByEmailNo" (click)="updateContactByEmail($event,'no')"> No</label>
            </div>
          </div>
        </div>
        <div class="flexbox align-center">
          <p>(iii)  If yes, please confirm email address   &nbsp;&nbsp;&nbsp;</p>
          <div class="form-group">
            <input type="text" class="form-control" formControlName="contactEmailAddress" [(ngModel)]="e.contactEmailAddress" name="contactEmailAddress" id="contactEmailAddress" />
            <show-errors ctrl="contactEmailAddress" [myForm]="surveyForm2"></show-errors>
          </div>
        </div>
        <div class="flexbox flex-basis-50" style="margin-top:10px">
          <div class="alert-danger fontsmall" *ngIf="surveyForm2.submitted && !e.contactByEmailYes && !e.contactByEmailNo">Please indicate your email preference</div>
        </div>
      </div>
    </section>
    <section class="section-details">
      <div class="container">
        <p class="subtitle">This form has been completed by</p>
        <div class="form-group">
          <input type="text" class="form-control" id="surveyOwnerFullName" name="surveyOwnerFullName" [(ngModel)]="e.surveyOwnerFullName" [placeholder]="notPrinting ? 'Full Name' : ''" required formControlName="surveyOwnerFullName">
          <show-errors ctrl="surveyOwnerFullName" [myForm]="surveyForm2"></show-errors>
        </div>
        <div class="flexbox">
          <div class="form-group">
            <ng-datepicker [(ngModel)]="e.surveyDate" formControlName="surveyDate" position="top-left" id="surveyDate" name="surveyDate" [options]="calOptions" ></ng-datepicker>
          </div>
          <div class="form-group">
            <input type="text" [placeholder]="notPrinting ? '(123) 456-7890' : ''" class="form-control" id="surveyOwnerPhone" name="surveyOwnerPhone" formControlName="surveyOwnerPhone" [(ngModel)]="e.surveyOwnerPhone" [textMask]="{mask: mask}" required telephoneNumber>
            <show-errors ctrl="surveyOwnerPhone" [myForm]="surveyForm2"></show-errors>
          </div>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="form-group">
        <ng4-loading-spinner [threshold]="2" [loadingText]="'Please wait...'" [zIndex]="9999"></ng4-loading-spinner>
        <div class="text-center">
          <!--<button type="submit" [disabled]="!surveyForm2.valid" class="btn btn-primary form-submit-btn">Submit</button>-->
          <button type="submit" style="margin-bottom:0px;" class="btn btn-primary form-submit-btn">Submit</button>
          &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" (click)="printSurveyForm()" style="margin-bottom:0px;" class="btn btn-success form-submit-btn">Print</button>
          <div class="h-100 row align-items-center">
            <div class="col" style="width:71%;padding-left:300px">
              <div class="alert-danger fontsmall text-center" *ngIf="surveyForm2.submitted && (!surveyForm2.valid || !hasConnectedPlants() || !hasWaterReceivers())">Please correct one or more errors above</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="container sub-footer">
    <p class="text-center">If you need further assistance, please contact Cross-Connection Control at <a href="mailTo:survey@universalccc.com">survey@universalccc.com</a> or <a href="tel:2678660303">267-866-0303</a>.</p>
  </div>
  <footer>
    <div class="container">
      <p class="text-center">Copyright © 2017 Universal Cross-Connection Control - All Rights Reserved.</p>
    </div>
  </footer>
</div>
