<div class="header-section fixed-header">
  <div class="flexbox align-center justify-space-between">
    <app-provider-image [profileId]="profileId" [provId]="provId" width="292" height="100"></app-provider-image>
  </div>
</div>
<div style="margin-top: 100px;float:left;clear:both">
  <div class="banner">
    <img src="../../../assets/images/LogoRBG.png" alt="banner" class="img-responsive2" height="140" width="244">
  </div>
  <form [formGroup]="addForm" class="survey-form form-horizontal" name="addCustForm2" id="addCustForm2" (ngSubmit)="addCustForm2.valid && onSubmit()" #addCustForm2="ngForm">
      <div class="container-fluid nopadding">
        <section class="section1 col-xs-12">
          <div class="container">
            <h1>CUSTOMER DATA</h1>
            <div class="col-sm-5 nopadding">
              <div class="form-group">
                <label class="control-label col-sm-4" for="customerName">Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="customerName" name="customerName" required formControlName="customerName" [(ngModel)]="e.customerName">
                  <show-errors ctrl="customerName" [myForm]="addCustForm2"></show-errors>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="accountId">Account</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="accountId" name="accountId" required formControlName="accountId" [(ngModel)]="e.accountId" maxVal positive>
                  <show-errors ctrl="accountId" [myForm]="addCustForm2"></show-errors>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="waterMeterNumber">Meter</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="waterMeterNumber" name="waterMeterNumber" required formControlName="waterMeterNumber" [(ngModel)]="e.waterMeterNumber" maxVal positive>
                  <show-errors ctrl="waterMeterNumber" [myForm]="addCustForm2"></show-errors>
                </div>
              </div>
              <div class="form-group" *ngIf="e.doEditCustomer">
                <label class="control-label col-sm-4" for="customerCCID">CCID#</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" readonly="readonly" disabled="disabled" id="customerCCID" name="customerCCID" [value]="e.ccId">
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 nopadding">
              <div class="form-group">
                <label class="control-label col-sm-4" for="diameter">Diameter</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="diameter" name="diameter" required formControlName="diameter" [(ngModel)]="e.diameter" maxVal positive max="9999">
                  <show-errors ctrl="diameter" [myForm]="addCustForm2"></show-errors>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="serviceClass">Service Class</label>
                <div class="col-sm-8">
                  <select id="serviceClass" formControlName="serviceClass" [(ngModel)]="e.serviceClass" name="Select Class" class="ui fluid search selection dropdown form-control">
                    <option *ngFor="let n of svcClasses" [attr.value]="n">{{n}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="connectionStatus">Connection Status</label>
                <div class="col-sm-8">
                  <select id="connectionStatus" formControlName="connectionStatus" [(ngModel)]="e.connectionStatus" name="Select Status" class="ui fluid search selection dropdown form-control">
                    <option *ngFor="let n of connectionStatuses" [attr.value]="n">{{n}}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="dueDate">Due Date</label>
                <div class="col-sm-8">
                  <ng-datepicker [(ngModel)]="e.dueDate" formControlName="dueDate" position="top-left" id="dueDate" name="dueDate" [options]="calOptions"></ng-datepicker>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section2 col-xs-12">
          <div class="container">
            <div class="col-sm-6 nopadding">
              <h1>SERVICE DETAILS</h1>
              <div class="col-sm-10 nopadding">
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrStreetNumber">Service Address Street Number</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrStreetNumber" name="serviceAddrStreetNumber" formControlName="serviceAddrStreetNumber" [(ngModel)]="e.serviceAddrStreetNumber">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrStreetNumberSuffix">Service Address Street Number Suffix</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrStreetNumberSuffix" name="serviceAddrStreetNumberSuffix" formControlName="serviceAddrStreetNumberSuffix" [(ngModel)]="e.serviceAddrStreetNumberSuffix">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrStreetDirPrefix">Service Address Street Direction Prefix</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrStreetDirPrefix" name="serviceAddrStreetDirPrefix" formControlName="serviceAddrStreetDirPrefix" [(ngModel)]="e.serviceAddrStreetDirPrefix">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrStreetName">Service Address Street Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrStreetName" name="serviceAddrStreetName" formControlName="serviceAddrStreetName" [(ngModel)]="e.serviceAddrStreetName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrStreetType">Service Address Street Type</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrStreetType" name="serviceAddrStreetType" formControlName="serviceAddrStreetType" [(ngModel)]="e.serviceAddrStreetType">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrStreetDirSuffix">Service Address Street Direction Suffix</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrStreetDirSuffix" name="serviceAddrStreetDirSuffix" formControlName="serviceAddrStreetDirSuffix" [(ngModel)]="e.serviceAddrStreetDirSuffix">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrCityName">Service Address City Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrCityName" name="serviceAddrCityName" formControlName="serviceAddrCityName" [(ngModel)]="e.serviceAddrCityName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrState">Service Address State</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrState" name="serviceAddrState" formControlName="serviceAddrState" [(ngModel)]="e.serviceAddrState">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="serviceAddrZipCode">Service Address Zip Code</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="serviceAddrZipCode" name="serviceAddrZipCode" formControlName="serviceAddrZipCode" [(ngModel)]="e.serviceAddrZipCode">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="sameServiceAddress1">Billing Address same as Service Address</label>
                  <div class="col-sm-6 material-switch pull-right">
                    <input type="checkbox" class="form-control" id="sameServiceAddress" name="sameServiceAddress" formControlName="sameServiceAddress" [(ngModel)]="e.sameServiceAddress" [checked]="e.sameServiceAddress" (click)="updateBillingAddress($event)">
                    <label style="top:10px" for="sameServiceAddress" class="label-primary"></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 nopadding">
              <h1>BILLING DETAILS</h1>
              <div class="col-sm-10 nopadding">
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrStreetNumber">Billing Address Street Number</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrStreetNumber" name="billingAddrStreetNumber" formControlName="billingAddrStreetNumber" [(ngModel)]="e.billingAddrStreetNumber">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrStreetNumberSuffix">Billing Address Street Number Suffix</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrStreetNumberSuffix" name="billingAddrStreetNumberSuffix" formControlName="billingAddrStreetNumberSuffix" [(ngModel)]="e.billingAddrStreetNumberSuffix">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrStreetDirPrefix">Billing Address Street Direction Prefix</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrStreetDirPrefix" name="billingAddrStreetDirPrefix" formControlName="billingAddrStreetDirPrefix" [(ngModel)]="e.billingAddrStreetDirPrefix">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrStreetName">Billing Address Street Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrStreetName" name="billingAddrStreetName" formControlName="billingAddrStreetName" [(ngModel)]="e.billingAddrStreetName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrStreetType">Billing Address Street Type</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrStreetType" name="billingAddrStreetType" formControlName="billingAddrStreetType" [(ngModel)]="e.billingAddrStreetType">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrStreetDirSuffix">Billing Address Street Direction Suffix</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrStreetDirSuffix" name="billingAddrStreetDirSuffix" formControlName="billingAddrStreetDirSuffix" [(ngModel)]="e.billingAddrStreetDirSuffix">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrAptDesc">Billing Address Apartment Description</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrAptDesc" name="billingAddrAptDesc" formControlName="billingAddrAptDesc" [(ngModel)]="e.billingAddrAptDesc">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrAptNumber">Billing Address Apartment Number</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrAptNumber" name="billingAddrAptNumber" formControlName="billingAddrAptNumber" [(ngModel)]="e.billingAddrAptNumber">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrCityName">Billing Address City Name</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrCityName" name="billingAddrCityName" formControlName="billingAddrCityName" [(ngModel)]="e.billingAddrCityName">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrState">Billing Address State</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrState" name="billingAddrState" formControlName="billingAddrState" [(ngModel)]="e.billingAddrState">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-6" for="billingAddrZipCode">Billing Address Zip Code</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="billingAddrZipCode" name="billingAddrZipCode" formControlName="billingAddrZipCode" [(ngModel)]="e.billingAddrZipCode">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-10 nopadding">

            </div>
          </div>
        </section>
        <section class="section3 col-xs-12">
          <div class="container">
            <h1>OWNER DETAILS</h1>
            <div class="col-sm-5 nopadding">
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerPlaceOfWork">Place Of Work</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerPlaceOfWork" name="ownerPlaceOfWork" formControlName="ownerPlaceOfWork" [(ngModel)]="e.ownerPlaceOfWork">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerFirstName">First Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerFirstName" name="ownerFirstName" formControlName="ownerFirstName" [(ngModel)]="e.ownerFirstName">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerLastName">Last Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerLastName" name="ownerLastName" formControlName="ownerLastName" [(ngModel)]="e.ownerLastName">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrStreetNumber">Street Number</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrStreetNumber" name="ownerAddrStreetNumber" formControlName="ownerAddrStreetNumber" [(ngModel)]="e.ownerAddrStreetNumber">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrStreetNumberSuffix">Street Number Suffix</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrStreetNumberSuffix" name="ownerAddrStreetNumberSuffix" formControlName="ownerAddrStreetNumberSuffix" [(ngModel)]="e.ownerAddrStreetNumberSuffix">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrStreetDirPrefix">Street Direction Prefix</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrStreetDirPrefix" name="ownerAddrStreetDirPrefix" formControlName="ownerAddrStreetDirPrefix" [(ngModel)]="e.ownerAddrStreetDirPrefix">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrStreetName">Street Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrStreetName" name="ownerAddrStreetName" formControlName="ownerAddrStreetName" [(ngModel)]="e.ownerAddrStreetName">
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1 nopadding">
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrStreetType">Street Type</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrStreetType" name="ownerAddrStreetType" formControlName="ownerAddrStreetType" [(ngModel)]="e.ownerAddrStreetType">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrStreetDirSuffix">Street Direction Suffix</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrStreetDirSuffix" name="ownerAddrStreetDirSuffix" formControlName="ownerAddrStreetDirSuffix" [(ngModel)]="e.ownerAddrStreetDirSuffix">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrAptDesc">Apartment Description</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrAptDesc" name="ownerAddrAptDesc" formControlName="ownerAddrAptDesc" [(ngModel)]="e.ownerAddrAptDesc">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrAptNumber">Apartment Number</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrAptNumber" name="ownerAddrAptNumber" formControlName="ownerAddrAptNumber" [(ngModel)]="e.ownerAddrAptNumber">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrCityName">City Name</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrCityName" name="ownerAddrCityName" formControlName="ownerAddrCityName" [(ngModel)]="e.ownerAddrCityName">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrState">State</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrState" name="ownerAddrState" formControlName="ownerAddrState" [(ngModel)]="e.ownerAddrState">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-4" for="ownerAddrZipCode">Zip Code</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="ownerAddrZipCode" name="ownerAddrZipCode" formControlName="ownerAddrZipCode" [(ngModel)]="e.ownerAddrZipCode">
                </div>
              </div>
            </div>
          </div>
        </section>
        <div class="form-group col-xs-12 nopadding">
          <div class="text-center col-xs-3 col-xs-offset-6 col-sm-2 col-sm-offset-5">
            <button type="submit" style="margin-bottom:0px;" class="col-xs-12 btn btn-primary form-submit-btn">Submit</button>
          </div>
          <div class="alert-danger text-center col-xs-4 col-xs-offset-6 col-sm-3 col-sm-offset-5" *ngIf="addCustForm2.submitted && (!addCustForm2.valid)">Please correct one or more errors above</div>
        </div>
    </div>
  </form>
  <div class="container sub-footer">
    <p class="text-center">If you need further assistance, please contact Cross-Connection Control at <a href="mailTo:survey@universalccc.com">survey@universalccc.com</a> or <a href="tel:2678660303">267-866-0303</a>.</p>
  </div>
  <footer>
    <div class="container">
      <p class="text-center">Copyright © 2017 Universal Cross-Connection Control - All Rights Reserved.</p>
    </div>
  </footer>
</div>
