<app-cust-nav></app-cust-nav>
<div class="banner">
  <img src="../../../assets/images/LogoRBG.png" alt="banner" class="img-responsive2" height="140" width="244">
</div>
<div class="container">
  <h2>Customer Data Form</h2>
  <form class="section-details form-horizontal" *ngIf="editCustomer" (ngSubmit)="selectCustomer()">
    <h4>Please enter a Customer (CCID#) to edit</h4>
    <div class="container col-xs-12">
      <div class="form-group col-sm-3">
        <input class="form-control" name="searchCust" placeholder="ABCD-123456-01" [(ngModel)]="search" [typeahead]="searchCustomers$" (typeaheadNoResults)="showNoMatch($event)" (typeaheadOnSelect)="showCustomer($event.item)" [typeaheadOptionsLimit]="10" [typeaheadWaitMs]="500">
      </div>
    </div>
    <div class="container col-xs-12">
      <div class="form-group col-sm-5">
        <div class="">
          <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary form-submit-btn" value="Edit Customer">Edit Customer</button>
        </div>
      </div>
    </div>
  </form>
  <form class="section-details form-horizontal" *ngIf="!editCustomer" (ngSubmit)="addCustomer()">
    <h4>Please select a Water Provider</h4>
    <div class="container col-xs-12">
      <div class="form-group col-sm-3">
        <select id="waterProvider" [(ngModel)]="waterProviderId" name="Select Status" class="ui fluid search selection dropdown form-control">
          <option *ngFor="let n of waterProviders" [attr.value]="n.value">{{n.key}}</option>
        </select>
      </div>
      </div>
    <div class="container col-xs-12">
      <div class="form-group col-sm-5">
        <div class="">
          <button type="submit" id="btnSubmit" name="btnSubmit" class="btn btn-primary form-submit-btn" value="Add Customer">Add Customer</button>
        </div>
      </div>
    </div>
  </form>
</div>

