<div class="container header-section">
    <div class="flexbox align-center justify-space-between">
        <img src="../../../assets/images/LogoRBG.png" alt="logo" class="img-responsive logo-img" width="244" height="140">
    </div>
</div>
<div class="login-container">
    <div class="">
        <div class="card card-container">
            <form class="form-login" (submit)="loginUser($event)" ngNativeValidate #loginForm="ngForm" id="loginForm" name="loginForm">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                        <input type="email" name="email" [(ngModel)]="email" class="form-control" placeholder="email@domain.com" required autofocus>
                    </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-lock" aria-hidden="true"></i>
                    </div>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="******" required>
                  </div>
                  <div>
                    <label *ngIf="invalidLogin == true" class="text-danger">Invalid Login Credentials</label>
                  </div>
                </div>
                <div id="remember" class="form-group">
                  <input type="checkbox" name="rememberMe" value="remember-me" [(ngModel)]="rememberMe"> Remember me
                  <div>
                    <label><a [routerLink]="['/forgotPassword', { e: email}]" (click)="isEmailValid()">Forgot Password</a></label>
                    <label>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/registerUser']">Register</a></label>
                  </div>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div>
</div>
<footer>
    <div class="container">
        <p class="text-center">Copyright © 2017 Universal Cross-Connection Control - All Rights Reserved.</p>
    </div>
</footer>
