body {
	font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  position: relative;
}
.fixed-header, .fixed-footer {
  width: 100%;
  top: 0;
  left:0;
  position: fixed;
  background: #fff;
  display: inline-block;
  vertical-align: top;
  float: left;
  clear: both;
  pointer-events: none;
  z-index: 99;
}
.red {
  border: 1px solid red;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
}
.justify-space-between {
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.flex-basis-50 {
	flex-basis: 50%;
}
.align-center {
	align-items: center;
	-webkit-align-items: center;
}
.mb16 {
	margin-bottom: 16px !important;
}
.mb0 {
	margin-bottom: 0 !important;
}
.mt0 {
	margin-top: 0 !important;
}
.mr20 {
	margin-right: 20px;
}
a:focus, checkbox:focus {
	outline: none
}
.checkbox, .radio {
  margin-bottom: 25px;
}
input[type="text"] {
	border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(220, 220, 220, 0.4);
  border: solid 1px #cbcbcb;
}
.logo-img {
	margin: 10px 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00b3db !important;
  border-color: #285e8e !important; /*set the color you want here*/
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #00b3db !important;
  border-color: #285e8e !important; /*set the color you want here*/
}
.header-section p {
	margin-bottom: 0;
	font-family: Calibri;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
}
.survey-form {
	margin-top: 20px;
}
form h1 {
	font-family: Calibri;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 0
}
section {
	padding: 20px 0; 
}
section .flexbox {
	margin-left: 24px;
}
.section-btn {
	min-width: 158px;
  cursor: default;
}
.btn {
	border-radius: 4px;
  background-color: #04779a;
  border-color: #04779a;
  font-size: 18px;
  line-height: normal;
  margin-right: 30px;
  text-align: center;
  outline: none
}
.btn:hover, .btn:focus, 
.btn:active, .btn:active:hover,
.btn:active:focus {
	background-color: #04779a;
	border-color: #04779a;
	box-shadow: none;
	outline: none
}
label {
	line-height: 1.5;
}
.subtitle {
	margin-top: 2px;
	margin-bottom: 5px;
  font-weight: bolder !important;
  font-size: 16px !important;
}


.section1 .address-section {
	margin-top: 30px;
}
.section1 .address-section p {
}
.property-type .flexbox {
	align-items: baseline;
	-webkit-align-items: baseline;
}
.property-type .flexbox .checkbox {
 	margin-right: 20px;
 	margin-bottom: 5px;
}

.wide {
  text-align: left;
  font-weight: bold;
  background: #04779a;
  width: 100%;
  color: white;
  font-size: 18px;
  line-height:2.2em;
}

.section2 {
	background-color: #082d5d;
}
.section2 label, .section2 p, .section2 span  {
  font-weight: normal;
  color: #fff;
}
.sectionA-input {
	width: 320px;
}


.sectionC {
	background-color: #49535c;
	color: #fff;
}
.sectionC .checkbox, .sectionD .checkbox {
	margin-right: 40px
}
.sectionC textarea {
	color: #000;
	width: 580px;
	border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(220, 220, 220, 0.4);
  border: solid 1px #cbcbcb;
  margin-left: 24px;
}

.sectionE {
	background-color: #04779a;
	color: #fff;
}
.sectionE input {
	min-width: 267px;
}
.sectionE .checkbox {
	margin-right: 40px;
}
.sectionE .flexbox p {
	margin-right: 30px
}
.section-details p {
	margin-bottom: 30px;
}
.section1 .flexbox, .sectionE .flexbox, .section-details .flexbox {
	margin-left: 0;
}
.section-details .form-group {
	margin-right: 30px;
}
.section11 .form-group {
  margin-bottom: 0px !important;
}
.section11 .form-submit-btn {
  margin-bottom: 20px !important;
}
.section-details input {
	width: 250px;
}

.form-submit-btn {
	width: 216px;
	color: #fff;
	margin-bottom: 80px;
}

/*======= Sub Footer ========*/
.sub-footer p {
	font-size: 14px;
}
.sub-footer p a {
	color: #000;
}
.sub-footer p a:hover {
	text-decoration: underline;
	color: #000;
}
.fontsmall {
  font-size: 88% !important;
}
.asmall2 {
  font-size: 80% !important;
  background-color: rgba(0,0,0,0.0);
}
.asmall {
  font-size: 80% !important;
  background-color:#fff !important;
}
.marginLogo {
  position:relative;
  margin-top:100px;
}
/*======= Footer =====*/
footer {
	background: #000;
	padding: 20px 0;
	color: #fff;
}
footer p {
	margin-bottom: 0
}

.survey-form .btn {
  border-radius: 4px;
  background-color: #04779a;
  border-color: #04779a;
  font-size: 18px;
  line-height: normal;
  margin-bottom: 30px;
  text-align: center;
  outline: none;
}

  .survey-form .btn:hover, .survey-form .btn:focus,
  .survey-form .btn:active, .survey-form .btn:active:hover,
  .survey-form .btn:active:focus {
    background-color: #04779a;
    border-color: #04779a;
    box-shadow: none;
    outline: none;
  }

.nopadding {
  padding: 0 !important;
}

.survey-form section {
  padding: 10px 0 40px 0;
}

  .survey-form section .control-label {
    text-align: left;
  }

  .survey-form section h1 {
    font-family: Calibri;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin: 20px 0 40px 0;
  }

.survey-form label {
  line-height: 1.5;
  font-size: 14px;
}

.section2 {
  background-color: #082d5d;
  color: #fff;
}

  .section2 h1 {
    font-weight: 300;
  }

  .section2 label {
    font-weight: 500;
  }

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

  .material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
  }

  .material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
  }

.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
