@media only screen and (min-width:1084px) {
  .login-container {
    position: absolute;
    width: 40%;
    top: 25%;
    margin: 0 auto;
    left: calc(50% - 256px);
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(153, 181, 194, 0.31);
    border-radius: 4px;
    border: solid 1px #d0e1ea;
    padding: 50px 100px;
  }
}

@media screen and (min-width:600px) and (max-width:1083px) {
  .login-container {
    position: absolute;
    width: 60%;
    top: 25%;
    margin: 0 auto;
    left: 20%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(153, 181, 194, 0.31);
    border-radius: 4px;
    border: solid 1px #d0e1ea;
    padding: 35px 50px;
  }
}

@media screen and (min-width:320px) and (max-width:599px) {
  .login-container {
    position: absolute;
    width: 60%;
    top: 15%;
    margin: 0 auto;
    left: 10%;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(153, 181, 194, 0.31);
    border-radius: 4px;
    border: solid 1px #d0e1ea;
    padding: 10px 20px;
  }
}

@media only screen and (max-width:320px) {
  .login-container {
    position: absolute;
    top: 10%;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px 0 rgba(153, 181, 194, 0.31);
    border-radius: 4px;
    border: solid 1px #d0e1ea;
  }
}


.form-login input {
	border: 0;
  box-shadow: none;
  border-bottom: 1px solid #d0e1ea;
  border-radius: 0;
}
.form-login input:focus {
  box-shadow: none;
  border-bottom: 1px solid #d0e1ea;
  border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00b3db !important;
  border-color: #285e8e !important; /*set the color you want here*/
}
.form-login .form-group {
  margin-bottom: 30px;
} 
.form-login .btn-login {
	border-radius: 4px;
  background-color: #04779a;
  box-shadow: 0 0 30px 0 #04779ae6;
  margin-top: 70px;
}
.form-login .input-group-addon {
	background: none;
  border: 0;
  border-bottom: 1px solid #d0e1ea;
  border-radius: 0;
}
.form-login .fa {
	font-size: 18px;
  color: #d0e1ea;
}
body{
  padding-bottom: 60px;
}
footer {
  position: absolute;
  bottom: 50px;
  height: 60px;
  width: 100%;
  clear: both;
}
