<div class="banner">
  <img src="../../../assets/images/banner.jpg" alt="banner" height="250" width="100%">
</div>
<div class="container">
  <h1>Generate New Password</h1>
  <h4>Please enter new password</h4>
  <section class="section1 col-xs-12">
    <form [formGroup]="form22" class="changePassform" name="changePassform" id="changePassform" (ngSubmit)="changePassform.valid && changePassword()" #changePassform="ngForm">
      <div class="container">
        <div class="col-sm-7 form-horizontal">
          <div class="form-group">
            <label class="control-label col-sm-4" for="userEmail">Email Address</label>
            <div class="col-sm-8">
              <input type="text" readonly="readonly" class="form-control" id="userEmail" name="userEmail" formControlName="userEmail" [(ngModel)]="e.userEmail" placeholder="user@email.com">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="userPhone">Please enter your phone number for verification</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="userPhone" name="userPhone" formControlName="userPhone" [(ngModel)]="e.userPhone" placeholder="(123) 456-7890" telephoneNumber [textMask]="{mask: mask}" required>
              <show-errors ctrl="userPhone" [myForm]="changePassform"></show-errors>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="userPassword">Please enter the new password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="userPassword" name="userPassword" [(ngModel)]="e.userPassword" formControlName="userPassword" placeholder="****" required validateEqual="confirmPassword" reverse="true">
              <div class="alert-success text-center asmall2">At-least 8 alpha-numeric characters</div>
              <show-errors ctrl="userPassword" [myForm]="changePassform"></show-errors>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-4" for="confirmPassword">Please re-enter the new password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="e.confirmPassword" formControlName="confirmPassword" placeholder="****" required validateEqual="userPassword">
              <div class="alert-success text-center asmall2">At-least 8 alpha-numeric characters</div>
              <show-errors ctrl="confirmPassword" [myForm]="changePassform"></show-errors>
            </div>
          </div>
          <div>
            <label *ngIf="invalidPhone == true" class="text-danger">Invalid Phone</label>
            <label *ngIf="invalidPassword == true" class="text-danger">Invalid Password. At-least 8 alpha-numeric characters</label>
          </div>
          <div class="form-group">
            <div class="text-center">
              <button type="submit" class="btn btn-primary form-submit-btn">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</div>
