.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #00b3db !important;
  border-color: #285e8e !important; /*set the color you want here*/
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
  color: #fff;
  background-color: #00b3db !important;
  border-color: #285e8e !important; /*set the color you want here*/
}
