<div class="banner">
  <img src="../../../assets/images/banner.jpg" alt="banner" height="300" width="100%">
</div>
<div class="container-fluid nopadding">
  <div class="container">
    <h1>Register New User</h1>
    <h4>Please provide the following details</h4>
  </div>
  <section class="section1 section11 col-xs-12">
    <form class="registerUser" name="registerUserForm" id="registerUserForm" (ngSubmit)="registerUserForm.valid && registerUser()" #registerUserForm="ngForm" novalidate>
      <div class="container form-horizontal">
        <div class="col-sm-5 form-group">
            <label class="control-label col-sm-4" for="userFirstName">First Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="userFirstName" name="userFirstName" [(ngModel)]="userFirstName" #userFirstName1="ngModel" required tabindex="1">
              <show-errors empty="true" [control]="userFirstName1" [myForm]="registerUserForm"></show-errors>
            </div>
        </div>
        <div class="col-sm-5 form-group">
            <label class="control-label col-sm-4" for="userLastName">Last Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="userLastName" name="userLastName" [(ngModel)]="userLastName" #userLastName1="ngModel" required tabindex="2">
              <show-errors empty="true" [control]="userLastName1" [myForm]="registerUserForm"></show-errors>
            </div>
        </div>
        <div class="col-sm-5 form-group">
            <label class="control-label col-sm-4" for="userEmail">Email</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="userEmail" name="userEmail" [(ngModel)]="userEmail" #userEmail1="ngModel" placeholder="user@email.com" required email2 tabindex="3">
              <show-errors empty="true" [control]="userEmail1" [myForm]="registerUserForm"></show-errors>
            </div>
        </div>
        <div class="col-sm-5 form-group">
            <label class="control-label col-sm-4" for="userPhone">Phone Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="userPhone" name="userPhone" #userPhone1="ngModel" [(ngModel)]="userPhone" placeholder="(123) 456-7890" telephoneNumber [textMask]="{mask: mask}" required tabindex="4">
              <show-errors empty="true" [control]="userPhone1" [myForm]="registerUserForm"></show-errors>
            </div>
        </div>
        <div class="col-sm-5 form-group">
            <label class="control-label col-sm-4" for="userPassword">Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="userPassword" name="userPassword" [(ngModel)]="userPassword" #userPassword1="ngModel" placeholder="****" required validateEqual="confirmPassword" reverse="true" tabindex="5">
              <div class="alert-success text-center asmall2">At-least 8 alpha-numeric characters</div>
              <show-errors empty="true" [control]="userPassword1" [myForm]="registerUserForm"></show-errors>
            </div>
        </div>
        <div class="col-sm-5 form-group">
            <label class="control-label col-sm-4" for="confirmPassword">Confirm Password</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" #confirmPassword1="ngModel" placeholder="****" required validateEqual="userPassword" tabindex="6">
              <div class="alert-success text-center asmall2">At-least 8 alpha-numeric characters</div>
              <show-errors empty="true" [control]="confirmPassword1" [myForm]="registerUserForm"></show-errors>
            </div>
        </div>
        <div class="col-sm-5 form-group">
            <label for="userType" class="control-label col-sm-4">User Type</label>
            <div class="col-sm-8">
              <select id="userType" [(ngModel)]="userType" name="Select Type" class="ui fluid search selection dropdown form-control" tabindex="7">
                <option *ngFor="let n of userTypes" [attr.value]="n">{{n}}</option>
              </select>
            </div>
        </div>
        <div class="col-sm-5 form-group">
            <div class="text-center col-sm-8">
              <button type="submit" class="btn btn-primary form-submit-btn">Submit</button>
              <label *ngIf="invalidPassword == true" class="text-danger">Invalid Password. At-least 8 alpha-numeric characters</label>
            </div>
        </div>
      </div>
    </form>
  </section>
</div>
