<nav class="navbar navbar-inverse" style="margin-bottom:0px">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collection of nav links and other content for toggling -->
  <div id="navbar-collapse-3" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li [ngClass]="(step=='step1')?'active':''"><a [routerLink]="['/cust']">Home</a></li>
      <li *ngIf="isUserUCCC" class="dropdown" [ngClass]="(step=='step3' || step == 'step2')?'active':''">
        <a data-toggle="dropdown" class="dropdown-toggle">Customer <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li [ngClass]="(step=='step2')?'active':''"><a [routerLink]="['/editCust']">Add Customer</a></li>
          <li [ngClass]="(step=='step3')?'active':''"><a [routerLink]="['/eCust', {edit : true}]">Edit Customer</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="top:5px;color:white;">{{userName}} <br /> ({{userType}})</li>
      <li [ngClass]="(step=='step10')?'active':''"><a [routerLink]="['/logout', {logout: true}]">Logout</a></li>
    </ul>
  </div>
</nav>
