<app-cust-nav></app-cust-nav>
<div class="banner">
  <img src="../../../assets/images/LogoRBG.png" alt="banner" class="img-responsive2" height="140" width="244">
</div>
<form class="container" (ngSubmit)="searchCustomer()">
  <h1>WATER USAGE SURVEY FORM</h1>
  <h4>Please enter CCID#</h4>
  <section class="section-details form-horizontal">
    <div class="container col-xs-12">
      <div class="form-group col-sm-3">
        <!--<input type="text" class="form-control" placeholder="ABCD-123456-01" id="customerCCId" name="customerCCId" [(ngModel)]="customerCCId" [typeahead]="searchCCIDs$" (typeaheadNoResults)="showNoMatch($event)" (typeaheadOnSelect)="selectCCID($event.item)" [typeaheadOptionsLimit]="20" [typeaheadWaitMs]="500">-->
        <input type="text" class="form-control" placeholder="ABCD-123456-01" id="customerCCId" name="customerCCId" [(ngModel)]="customerCCId">
      </div>
      </div>
    <div class="container col-xs-12">
      <div class="form-group col-sm-5">
        <div class="">
          <button type="submit" class="btn btn-primary form-submit-btn">Select</button>
        </div>
      </div>
    </div>
  </section>
</form>
